[submodule "env/bitextor"]
	path = env/src/bitextor
	url = https://github.com/bitextor/bitextor.git
[submodule "env/src/preprocess"]
	path = env/src/preprocess
	url = https://github.com/kpu/preprocess.git
[submodule "env/src/mosesdecoder"]
	path = env/src/mosesdecoder
	url = https://github.com/moses-smt/mosesdecoder.git
[submodule "env/src/bifixer"]
	path = env/src/bifixer
	url = https://github.com/bitextor/bifixer.git
[submodule "env/src/tmxt"]
	path = env/src/tmxt
	url = https://github.com/sortiz/tmxt.git
[submodule "env/src/kenlm"]
	path = env/src/kenlm
	url = https://github.com/kpu/kenlm.git
[submodule "env/src/warc2text"]
	path = env/src/warc2text
	url = https://github.com/bitextor/warc2text.git
[submodule "env/src/marian-dev"]
	path = env/src/marian-dev
	url = git@github.com:browsermt/marian-dev.git
[submodule "env/src/prepocess-batch-dedupe"]
	path = env/src/preprocess-batch-dedupe/
	url = https://github.com/jelmervdl/preprocess.git
	branch = batch-dedupe
[submodule "env/src/bleualign-cpp"]
	path = env/src/bleualign-cpp
	url = https://github.com/bitextor/bleualign-cpp.git
[submodule "env/src/pdfwarc2warc"]
	path = env/src/pdfwarc2warc
	url = https://github.com/jelmervdl/pdfwarc2warc.git
