/.schedule-log
/env/bin
/env/etc
/env/go
/env/include
/env/lib
/env/lib64
/env/libexec
/env/sbin
/env/scripts
/env/share
/env/pyvenv.cfg
/env/src/*/build/
/env/src/uchardet*
/env/src/libzip*
/env/src/boost*
/env/src/icu
/env/src/protobuf*
/env/src/gperftools*
/env/src/xmlrpc*
/env/src/Python-*
/env/src/apertium-*
/env/src/cg3-*
/env/src/lttoolbox-*
/env/src/parallel-*
/env/src/recode-*
/env/src/hunspell-*
filtered-terms.txt
*.swp
models/??-??
*.sif
core
