/.schedule-log
/env/bin
/env/etc
/env/go
/env/include
/env/lib
/env/lib64
/env/libexec
/env/sbin
/env/scripts
/env/share
/env/pyvenv.cfg
/env/src/*/build/
/env/src/uchardet*
/env/src/libzip*
/env/src/boost*
/env/src/icu
/env/src/protobuf*
/env/src/gperftools*
